/* Seletor universal */
*{
    margin: 0;
    padding: 0;
}

/* Seletor de tag */
header, footer{
    background-color: #333333;
    color: #f0e6e6;
    padding: 15px ;
}

/* Seletor de elementos aninhados */
nav a{
    color: #c72cbf;
}

/* Seletor de filhos */
nav > a{
    display: block;
    color: #be1717;
}

/* Seletor de classe */
.laranja{
    color: #e66f0e;
}

/* Seletor de ID */
#verde{
    color: #21ad28;
}

#secao-principal{
    text-align: center;
}

#secao-principal > *{
    margin-top: 10px;
}

/* Seletor de sequência */
input + input{
    color: #21ad28;
    background-color: #e66f0e;
}